{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
</head>
<body>
    <a href="{% url 'teams-list'%}">Home</a>
    <img src="{% static 'images/ic_teams_list.png' %}" alt="team-list-img">
    <h1>Teams:</h1>
    <ul>
        {% for team in teams %}
        <li>
            <a href="{% url 'team-detail' team.id %}"><h2>{{ team.name }}</h2></a>
            {{ team.details }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>